@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 0 0% 100%;
    --color-background-dark: 210 40% 98%;
    --color-foreground: 222 47% 11%;

    --color-primary: 200 98% 39%;
    --color-secondary: 215 16% 47%;
    --color-border: 214 32% 91%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background-dark text-foreground;
  }
}
